<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="c:\data\TournamentTracker"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" 
         connectionString="Server=DESKTOP-HPGABH1\FIRSTMSSQLSERVER;Database=Tournaments;Trusted_Connection=True;" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>